.container {
    background-color:rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif
}



.input.form-control  {
    width:200px;display:inline;
}

.output.form-control {
    width:200px;display:inline;
}

.radio-inline {margin-left:5px; margin-right:5px;}
